<!DOCTYPE html>
<html>
  <head>
    <title>CourierService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search Orders</a></li>
      <% if current_user.present? && current_user.is_admin? %>
        <li><a href="/parcels">Parcels</a></li>
        <li><a href="/users">Manage Users</a></li>
        <li><a href="/service_types">Service Types</a></li>
        <li><%= link_to "View Report", view_report_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
      <% end %>
    </ul>

    <%= yield %>
  </body>
</html>
